BANSHEE_RENAMER_CS =  \
	Banshee.Renamer/RenamerService.cs \
	gtk-gui/generated.cs \
	gtk-gui/Banshee.Renamer.RenamerWindow.cs \
	Banshee.Renamer/RenamerWindow.cs \
	Banshee.Renamer/TrackInfoParameterMap.cs \
	Banshee.Renamer/SongFilenameTemplates.cs \
	Banshee.Renamer/TemplateStorage.cs \
	Banshee.Renamer/DbTrackFilenameEngineV1.cs \
	Banshee.Renamer/RenamingProgressDialog.cs \
	gtk-gui/Banshee.Renamer.RenamingProgressDialog.cs

BANSHEE_RENAMER_RESOURCES = \
	Resources/RenamerActionsUI.xml \
	Banshee.Renamer.addin.xml \
	gtk-gui/gui.stetic

BANSHEE_RENAMER_EXTRAS = \
	Banshee.Renamer \
	Resources \
	banshee-renamer.pc.in

BANSHEE_RENAMER_ASSEMBLYINFO = \
    AssemblyInfo.cs

BANSHEE_RENAMER_TESTS = \
	Banshee.Renamer/Tests/TrackInfoParameterMapTest.cs

BANSHEE_RENAMER_REFS =  \
	System \
	Mono.Posix \
	$(GTK_SHARP_20_LIBS) \
	$(GTK_DOTNET_20_LIBS) \
	$(BANSHEE_CORE_LIBS) \
	$(BANSHEE_SERVICES_LIBS) \
	$(BANSHEE_THICKCLIENT_LIBS) \
	$(BANSHEE_HYENA_LIBS) \
    $(TEMPLATE_SHARP_LIBS)

BANSHEE_RENAMER_TEST_REFS = $(NUNIT_LIBS)

BANSHEE_RENAMER_MARKDOWNTARGETS = README

BANSHEE_RENAMER_MARKDOWNHTMLS = $(addsuffix .html, $(BANSHEE_RENAMER_MARKDOWNTARGETS))

BANSHEE_RENAMER_MARKDOWNS = $(addsuffix .md, $(BANSHEE_RENAMER_MARKDOWNTARGETS))
